.words{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(211, 113, 113);
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    font-size: 40px;
    font-family: 'Oxygen', 'sans-serif';
    width: 80%;
    height: 80%;
    text-align: center;
    border-radius: 15px;
}

.p{
    word-break: break-all;
    word-wrap: break-word;
}